CONFIG_ESP_WIFI_REMOTE_LIBRARY_CUSTOM=y
CONFIG_ESP_HOSTED_ENHANCED_PIN_CLK=12
CONFIG_ESP_HOSTED_ENHANCED_PIN_CMD=13
CONFIG_ESP_HOSTED_ENHANCED_PIN_D0=11
CONFIG_ESP_HOSTED_ENHANCED_PIN_D1=10
CONFIG_ESP_HOSTED_ENHANCED_PIN_D2=9
CONFIG_ESP_HOSTED_ENHANCED_PIN_D3=8
CONFIG_ESP_HOSTED_ENHANCED_PIN_RESET=15
