CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_CLK_SLOT_1=16
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_CMD_SLOT_1=17
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D0_SLOT_1=2
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D1_4BIT_BUS_SLOT_1=3
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D2_4BIT_BUS_SLOT_1=4
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D3_4BIT_BUS_SLOT_1=45
CONFIG_ESP_HOSTED_SDIO_GPIO_RESET_SLAVE=47
CONFIG_ESP_HOSTED_SDIO_CLOCK_FREQ_KHZ=20000
CONFIG_DEV_C6_RECOVERY_GPIO=51
CONFIG_ESP_HOSTED_ENHANCED_PIN_CLK=16
CONFIG_ESP_HOSTED_ENHANCED_PIN_CMD=17
CONFIG_ESP_HOSTED_ENHANCED_PIN_D0=2
CONFIG_ESP_HOSTED_ENHANCED_PIN_D1=3
CONFIG_ESP_HOSTED_ENHANCED_PIN_D2=4
CONFIG_ESP_HOSTED_ENHANCED_PIN_D3=45
CONFIG_ESP_HOSTED_ENHANCED_PIN_RESET=-1
CONFIG_ESP_HOSTED_ENHANCED_SDIO_FREQ_KHZ=20000
